<!-- Page header -->
<div class="page-header page-header-default">
	<div class="page-header-content">
		<div class="page-title">
			<h4><i class="icon-arrow-left52 position-left"></i> <span class="text-semibold">Người dùng</span> - Quản lý
				người dùng</h4>
		</div>

		<div class="heading-elements">
			<div class="heading-btn-group">
				<a (click)="createModal()" class="btn btn-link btn-float has-text"><i
						class="icon-plus22 text-primary"></i><span>Thêm người dùng</span></a>
			</div>
		</div>
	</div>

	<div class="breadcrumb-line">
		<ul class="breadcrumb">
			<li><a href="index.html"><i class="icon-home2 position-left"></i> Trang chủ</a></li>
			<li><a href="datatable_basic.html">Người dùng</a></li>
			<li class="active">Quản lý người dùng</li>
		</ul>
	</div>
</div>
<!-- /page header -->
<!-- Content area -->
<div class="content">
	<div class="row">
		<div class="col-md-12">

			<!-- Basic layout-->
			<form [formGroup]="frmSearch" class="form-horizontal" (ngSubmit)="LoadData()" >
				<div class="panel panel-flat">
					<div class="panel-heading">
						<h5 class="panel-title">Tìm kiếm</h5>
					</div>

					<div class="panel-body">
						<div class="form-group">
							<label class="col-lg-2 control-label" style="text-align:right ;">Họ tên:</label>
							<div class="col-lg-8">
								<input formControlName="txt_name" type="text" class="form-control" placeholder="Họ tên">
							</div>
						</div>
						<div class="form-group">
							<label class="col-lg-2 control-label" style="text-align:right ;">Tài khoản:</label>
							<div class="col-lg-3">
								<input formControlName="txt_userName" type="text" class="form-control" placeholder="Tài khoản">
							</div>
							<label class="col-lg-2 control-label" style="text-align:right ;">Loại quyền:</label>
							<div class="col-lg-3">
								<select formControlName="txt_role" class="form-control">
									<option [value]="''">Tất cả</option>
									<option [value]="'Admin'">Admin</option>
									<option [value]="'User'">User</option>
								</select>
							</div>
						</div>
						<div class="col-lg-10 text-right">
							<button type="submit" class="btn btn-primary"><i class="icon-search4 position-right"></i> Tìm kiếm</button>
						</div>
					</div>
				</div>
			</form>
			<!-- /basic layout -->
		</div>
	</div>


	<!-- Basic datatable -->
	<div class="panel panel-flat" style="overflow-x: auto;">
		<div class="panel-heading">
			<h5 class="panel-title">DANH SÁCH THÔNG TIN NGƯỜI DÙNG</h5>
		</div>

		<table class="table datatable-basic">
			<thead>
				<tr>
					<th>Tài khoản</th>
					<th>Mật khẩu</th>
					<th>Ngày bắt đầu</th>
					<th>Ngày kết thúc</th>
					<th>Trạng thái tk</th>
          <th>Quyền</th>
          <th>User Id</th>
          <th>Họ tên</th>
          <th>Ngày sinh</th>
          <th>Giới tính</th>
          <th>Ảnh</th>
          <th>Địa chỉ</th>
          <th>Email</th>
          <th>Điện thoại</th>
          <th>Trạng thái nd</th>
					<th class="text-center">Hành động</th>
				</tr>
			</thead>
			<tbody>
				<tr *ngFor="let lu of list_user">
					<td>{{lu.userName}}</td>
					<td>{{lu.passWord}}</td>
					<td >{{lu.startDate | date : " dd-MM-yyyy"}}</td>
					<td>{{lu.endDate | date : " dd-MM-yyyy"}}</td>
					<td>
            <span *ngIf="lu.status_Account==0" class="label label-success">Không kích hoạt</span>
            <span *ngIf="lu.status_Account==1" class="label label-success">Kích Hoạt</span>
          </td>
					<td>{{lu.role}}</td>
					<td>{{lu.user_Id}}</td>
					<td>{{lu.name}}</td>
					<td>{{lu.dateOfBirth | date : " dd-MM-yyyy"}}</td>
					<td>{{lu.gioiTinh}}</td>
					<td><img src="{{lu.image}}" height="100%;" width="100px" alt=""></td>
					<td>{{lu.address}}</td>
					<td>{{lu.phone}}</td>
					<td>{{lu.email}}</td>
          <td>
            <span *ngIf="lu.status_User==0" class="label label-success">Không kích hoạt</span>
            <span *ngIf="lu.status_User==1" class="label label-success">Kích Hoạt</span>
          </td>
					<td class="text-center">
						<ul class="icons-list">
							<li><a (click)="openUpdateModal(lu.user_Id)"><i class="icon-pencil7"></i></a></li>
							<li><a (click)="onRemove(lu.user_Id)"><i class="icon-trash"></i></a></li>
						</ul>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<!-- /basic datatable -->
</div>
<!-- /content area -->


<!-- Large modal -->
<div *ngIf="showUpdateModal" class="modal fade" id="createModal">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h5 class="modal-title">Thêm thông tin người dùng</h5>
			</div>
			<hr>
			<form *ngIf="doneSetupForm" [formGroup]="frmUser" (ngSubmit)="OnSubmit(frmUser.value)"
				class="form-horizontal">
				<div class="modal-body" style="padding-left: 50px !important; padding-right:50px !important;">
          <div class="form-group">
						<label class="col-lg-3 control-label">Tài khoản<span style="color:red ;">*</span>:</label>
						<div class="col-lg-9">
							<input formControlName="txt_userName" type="text" class="form-control"
								placeholder="Tài khoản">
							<div *ngIf="userName.invalid && (userName.dirty || userName.touched)">
								<div *ngIf="userName.errors?.['required']" style="color:red ;">Tài khoản không được rỗng
								</div>
								<div *ngIf="userName.errors?.['minlength']" style="color:red ;">
									Tài khoản không được nhỏ hơn 5 ký tự
								</div>
								<div *ngIf="userName.errors?.['maxlength']" style="color:red ;">
									Tài khoản không được lớn hơn 50 ký tự
								</div>
							</div>
						</div>
					</div>

					<div class="form-group">
						<label class="col-lg-3 control-label">Mật khẩu<span style="color:red ;">*</span>:</label>
						<div class="col-lg-9">
							<input formControlName="txt_passWord" type="password" class="form-control"
								placeholder="Mật khẩu">
							<div *ngIf="passWord.invalid && (passWord.dirty || passWord.touched)">
								<div *ngIf="passWord.errors?.['required']" style="color:red ;">Mật khẩu là bắt buộc</div>
								<div *ngIf="passWord.errors?.['passWord']" style="color:red ;"> Độ dài mật khẩu tối thiệu
									phải là 6 ký tự và
									phải chứa ký tự đặc biệt @#!$%&*</div>
							</div>
						</div>
					</div>
					<div class="form-group">
						<label class="col-lg-3 control-label">Nhập lại mật khẩu<span
								style="color:red ;">*</span>:</label>
						<div class="col-lg-9">
							<input formControlName="txt_rewrite_Password" type="password" class="form-control"
								placeholder="Nhập lại mật khẩu">
							<div *ngIf="rewrite_Password.invalid && (rewrite_Password.dirty || rewrite_Password.touched)">
								<div *ngIf="rewrite_Password.errors?.['required']" style="color:red ;">Xác nhận lại mật
									khẩu là bắt buộc</div>
								<div *ngIf="rewrite_Password.errors?.['matching']" style="color:red ;">Xác thực lại mật
									khẩu không đúng</div>
							</div>
						</div>
					</div>
          <div class="form-group">
						<label class="col-lg-3 control-label">Ngày bắt đầu<span style="color:red ;">*</span>:</label>
						<div class="col-lg-9">
							<input formControlName="txt_startDate" type="date" class="form-control"placeholder="Ngày sinh">
							<div *ngIf="startDate.invalid && (startDate.dirty || startDate.touched)">
								<div *ngIf="startDate.errors?.['required']" style="color:red ;">Ngày bắt đầu không được rỗng
								</div>
							</div>
						</div>
					</div>
          <div class="form-group">
						<label class="col-lg-3 control-label">Ngày kết thúc<span style="color:red ;">*</span>:</label>
						<div class="col-lg-9">
							<input formControlName="txt_endDate" type="date" class="form-control">
							<div *ngIf="endDate.invalid && (endDate.dirty || endDate.touched)">
								<div *ngIf="endDate.errors?.['required']" style="color:red ;">Ngày kết thúc không được rỗng
								</div>
							</div>
						</div>
					</div>
          <div class="form-group">
						<label class="col-lg-3 control-label">Trạng thái tài khoản<span style="color:red ;">*</span>:</label>
						<div class="col-lg-9">
              <select formControlName="txt_status_Account" class="form-control">
                <option value="" disabled selected>Chọn trạng thái tài khoản</option>
                <option value="1">Kích hoạt</option>
                <option value="0">Không kích hoạt</option>
              </select>
							<div *ngIf="status_Account.invalid && (status_Account.dirty || status_Account.touched)">
                <div *ngIf="status_Account.errors?.['required']" style="color:red ;">Bạn phải chọn trạng thái</div>
							</div>
						</div>
					</div>
          <div class="form-group">
						<label class="col-lg-3 control-label">Loại quyền:</label>
						<div class="col-lg-9">
							<select formControlName="txt_role" class="form-control">
								<option value="Admin">Admin</option>
								<option value="User">User</option>
							</select>
						</div>
					</div>
					<div class="form-group">
						<label class="col-lg-3 control-label">Họ tên<span style="color:red ;">*</span></label>
						<div class="col-lg-9">
							<input formControlName="txt_name" type="text" class="form-control" placeholder="Họ tên">
							<div *ngIf="name.invalid && (name.dirty || name.touched)">
								<div *ngIf="name.errors?.['required']" style="color:red ;">Họ tên không được rỗng</div>
								<div *ngIf="name.errors?.['minlength']" style="color:red ;">
									Họ tên không được nhỏ hơn 3 ký tự
								</div>
								<div *ngIf="name.errors?.['maxlength']" style="color:red ;">
									Họ tên không được lớn hơn 250 ký tự
								</div>
							</div>
						</div>
					</div>
					<div class="form-group">
						<label class="col-lg-3 control-label">Ngày sinh<span style="color:red ;">*</span>:</label>
						<div class="col-lg-9">
							<input formControlName="txt_dateOfBirth" type="date" class="form-control">
							<div *ngIf="dateOfBirth.invalid && (dateOfBirth.dirty || dateOfBirth.touched)">
								<div *ngIf="dateOfBirth.errors?.['required']" style="color:red ;">Ngày sinh không được rỗng
								</div>
							</div>
						</div>
					</div>
					<div class="form-group">
						<label class="col-lg-3 control-label">Giới tính<span style="color:red ;">*</span>:</label>
						<div class="col-lg-9">
							<label class="radio-inline">
								<input formControlName="txt_gioiTinh" type="radio" class="styled" value="Nam">
								Nam
							</label>

							<label class="radio-inline">
								<input formControlName="txt_gioiTinh" type="radio" class="styled"value="Nữ">
								Nữ
							</label>
						</div>
					</div>
          <div class="form-group">
						<label class="col-lg-3 control-label">Ảnh:</label>
						<div class="col-lg-9">
							<div class="media no-margin-top">
								<div class="media-left">
									<img  src="{{imagePreview}}" style="width: 58px; height: 58px;" class="img-rounded" alt="">
								</div>
								<div class="media-body">
									<input (change)="upload($event)" accept=".jpg,.png,.jpeg,.gif,.bmp,.tif,.tiff"
										type="file" class="file-styled">
									<span class="help-block">Định dạng được chấp nhận: gif, png, jpg. Kích thước tệp tối đa 2Mb</span>
								</div>
							</div>
						</div>
					</div>
					<div class="form-group">
						<label class="col-lg-3 control-label">Địa chỉ:</label>
						<div class="col-lg-9">
							<input formControlName="txt_address" type="text" class="form-control" placeholder="Địa chỉ">
						</div>
					</div>
					<div class="form-group">
						<label class="col-lg-3 control-label">Email:</label>
						<div class="col-lg-9">
							<input formControlName="txt_email" type="text" class="form-control" placeholder="Email">
							<div *ngIf="email.invalid && (email.dirty || email.touched)">
								<div *ngIf="email.errors?.['email']" style="color:red ;">Không đúng định dạng của email!
								</div>
							</div>
						</div>
					</div>
					<div class="form-group">
						<label class="col-lg-3 control-label">Điện thoại:</label>
						<div class="col-lg-9">
							<input formControlName="txt_phone" type="text" class="form-control"
								placeholder="Điện thoại">
							<div *ngIf="phone.invalid && (phone.dirty || phone.touched)">
								<div *ngIf="phone.errors?.['pattern']" style="color:red ;">Không đúng định dạng số
									điện thoại!</div>
							</div>
						</div>
					</div>

          <div class="form-group">
						<label class="col-lg-3 control-label">Trạng thái người dùng<span style="color:red ;">*</span>:</label>
						<div class="col-lg-9">
              <select formControlName="txt_status_User" class="form-control">
                <option value="" disabled selected>Chọn trạng thái</option>
                <option value="1">Kích hoạt</option>
                <option value="0">Không kích hoạt</option>
              </select>
							<div *ngIf="status_User.invalid && (status_User.dirty || status_User.touched)">
                <div *ngIf="status_User.errors?.['required']" style="color:red ;">Bạn phải chọn trạng thái</div>
							</div>
						</div>
					</div>
				</div>
				<hr>
				<div class="modal-footer">
					<button type="button" class="btn btn-link" (click)="closeModal()">Đóng</button>
					<button type="submit" class="btn btn-primary" [disabled]="frmUser.invalid">Lưu lại</button>
				</div>
			</form>
		</div>
	</div>
</div>
<!-- /large modal -->
